header
  nav
    ul
      each link in links
        li
          if link.href.indexOf( current ) > -1
            a(href=link.href class='active') !{link.name}
          else
            a(href=link.href) !{link.name}

header(class='scroll__header')
  nav
    ul
      each link in links
        li
          if link.href.indexOf( current ) > -1
            a(href=link.href class='active') !{link.name}
          else
            a(href=link.href) !{link.name}
